@import (reference) "utils";

.ls-collection-list-ctrls {
    display:flex;
    select {
        flex-grow:1;
    }
    button {
        flex-shrink:0;
        margin-left:5px;
        padding:0 5px;
        position:relative;
        width:25px;
        &:before {
            content:"\A0";
            display:inline-block;
            height:10px;
            left:50%;
            margin:-5px 0 0 -5px;
            position:absolute;
            top:50%;
            width:10px;
        }
        &[data-lsid="createColl"]:before {
            .plus(2px; #080);
        }
        &[data-lsid="deleteColl"] {
            color:#b00;
            &:disabled {
                color:#777;
            }
            &:before {
                .cross(2px);
            }
        }
    }
}
.ls-import-coll {
    color:#060;
    cursor:pointer;
    display:block;
    overflow:hidden;
    position:relative;
    text-decoration:underline;
    width:100%;
    input[type="file"] {
        cursor:pointer;
        left:0;
        opacity:0.01;
        position:absolute;
        top:0;
        width:100%;
    }
    ::-webkit-file-upload-button {
        cursor:pointer;
    }
}
[data-lsid="exportColl"] {
    display:inline-block;
    margin:0.5em 0;
}
[data-lsid="permalink.clipboard"] {
    position:relative;
    transition:color 0.3s;
    &:after {
        color:transparent;
        left:0;
        pointer-events:none;
        position:absolute;
        right:0;
        top:50%;
        transform:translateY(-50%);
    }
    &.copied {
        box-shadow:0 0 2px 1px #006400;
        color:transparent;
        &:after {
            color:#006400;
            content:"Copied!";
        }
    }
    &.failed {
        box-shadow:0 0 2px 1px #8b0000;
        color:transparent;
        &:after {
            color:#8b0000;
            content:"Failed!";
        }
    }
}