@import (inline) "../../node_modules/normalize.css/normalize.css";

body {
    font:92%/1.25 Arial,sans-serif;
}

header,
footer {
    padding:0 10px 0 35px;
}

main {
    padding:0 0 0 25px;
}

button {
    cursor:pointer;
}

@import "panel";