@import (inline) "../../node_modules/normalize.css/normalize.css";
@import (reference) "vars";

body {
    font:92%/1.25 Arial,sans-serif;
}

a {
    color:@color-green-dark;
}

button{
    &[disabled] {
        cursor:not-allowed;
    }
    &:not([disabled]) {
        cursor:pointer;
    }
}

svg {
    left:calc(50% + round(@sidebar-width / 2));
    max-height:100vh;
    max-width:calc(100vw - @sidebar-width);
    position:fixed;
    top:50%;
    transform:translate(-50%, -50%);
}

@import "sidebar";
