.ls-panel-settings {
    [data-mark] {
        display:block;
        position:relative;
        &:before {
            background:#eee;
            border-radius:3px;
            box-shadow:0 0 2px 0 #777 inset;
            box-sizing:border-box;
            content:attr(data-mark);
            font:bold 12px/1 Arial,sans-serif;
            left:4px;
            min-height:16px;
            min-width:16px;
            padding:2px;
            position:absolute;
            text-align:center;
            top:4px;
        }

        input {
            padding:2px 2px 2px 25px;
        }
    }
}

[data-ls-id="axiom"],
.ls-rules [data-letter] {
    text-transform:uppercase;
    &::-moz-placeholder {
        text-transform:none;
    }
    &::-webkit-input-placeholder {
        text-transform:none;
    }
    &:-ms-input-placeholder {
        text-transform:none;
    }
    &::placeholder {
        text-transform:none;
    }
}

.ls-rules {
    [data-mark]:before {
        color:#800000;
    }
    [data-mark]:not([data-mark="F"]):not([data-mark="B"]):before {
        cursor:pointer;
    }
}

.ls-letter-popup {
    background:#eee;
    display:none;
    margin-top:-4px;
    position:absolute;
    width:150px;
    z-index:1;
    &.visible {
        display:block;
    }

    button {
        background:#eee;
        border:1px solid #d5d5d5;
        box-shadow:0 0 3px 0 #777 inset;
        box-sizing:border-box;
        color:#333;
        cursor:pointer;
        float:left;
        font:bold 14px/1.75 Arial,sans-serif;
        margin:0;
        width:20%;
        &:last-child {
            background:#f77;
            box-shadow:0 0 3px 0 #a00 inset;
            color:#fff;
        }
        &[disabled] {
            cursor:not-allowed;
            opacity:0.5;
        }
   }
}